html {
	cursor: url(crosshair.png) 64, 64, auto;
}

body {
	background-image: url(background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.balloon {
	position: absolute;
	bottom:	0;
	cursor: url(crosshair-hot.png);
}

.inflatable {
	width: 180px;
	height: 200px;
	background-color: yellow;
	border-radius: 50%;
}

.string {
	width: 1px;
	height: 100px;
	background-color: black;
	margin-left: 90px;
}