.balloon {
	position: absolute;
	bottom:	0;
}

.inflatable {
	width: 180px;
	height: 200px;
	background-color: yellow;
	border-radius: 50%;
}

.string {
	width: 1px;
	height: 100px;
	background-color: black;
	margin-left: 90px;
}